body {
	margin: 0!important;
	background-color: #fff;
	font-family: "Lato", sans-serif;
}

#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

#logo a {
 	text-decoration: none;
 	font-size: 26pt;
}

#logo .logo-share {
 	color: #56a015;	
}

#logo .logo-base {
 	color: #868686;
}

#menu ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	margin-top: -36px;
}

#menu ul li {
	float: right;
	padding-left: 10px;
}

#db {
 	margin-top: 70px;
}

#title ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

#title ul li {
 	float: left;
 	background: #e3e3e3;
 	border: 1px solid #bbb;
 	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
 	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
 	box-shadow: inset 0 0 1px 1px #f6f6f6;
 	color: #333;
 	font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
 	line-height: 1;
 	padding: 8px 0 9px;
 	text-align: center;
 	text-shadow: 0 1px 0 #fff;
 	width: 150px;
}

#title ul li.name {
 	width: 410px;
 	-webkit-border-radius: 3px 0px 0px 3px;
 	-moz-border-radius: 3px 0px 0px 3px;
 	border-radius: 3px 0px 0px 3px;
}

#title ul li.date {
 	width: 224px;
}

#title ul li.size {
 	width: 170px;
}

#title ul li.uploader {
 	width: 168px;
 	-webkit-border-radius: 0px 3px 3px 0px;
 	-moz-border-radius: 0px 3px 3px 0px;
 	border-radius: 0px 3px 3px 0px;
}

#files ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

#files ul li a {
 	color: #000;
 	text-decoration: none;
}

#files ul li a:hover, #files ul li.name a:hover {
 	color: #56a015;
}

#files ul li {
 	float: left;
 	border-bottom: 1px solid #e2e2e2;
 	height: 19px;
}

#files ul li.name {
 	width: 401px;
 	padding: 5px 0px 5px 10px;
 	overflow-x: hidden;
}

#files ul li.name a {
	color: #292929;
}

#files ul li.date {
 	width: 215px;
 	padding: 5px 0px 5px 10px;
 	color: #5a5a5a;
}

#files ul li.size {
 	width: 161px;
 	padding: 5px 0px 5px 10px;
 	color: #5a5a5a;
}

#files ul li.uploader {
 	width: 163px;
 	padding: 5px 0 5px 10px;
 	color: #5a5a5a;
}

.green {
 	background-color: #7fbf4d;
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
 	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: linear-gradient(top, #7fbf4d, #63a62f);
 	border: 1px solid #63a62f;
 	border-bottom: 1px solid #5b992b;
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
 	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
 	box-shadow: inset 0 1px 0 0 #96ca6d;
 	color: #fff;
 	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 	line-height: 1;
 	padding: 7px 0 8px 0;
 	text-align: center;
 	text-shadow: 0 -1px 0 #4c9021;
 	width: 150px; 
}

.green:hover, .greenq:hover {
 	background-color: #76b347;
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
 	background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
 	background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
 	background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
 	background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
 	background-image: linear-gradient(top, #76b347, #5e9e2e);
 	-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
 	-moz-box-shadow: inset 0 1px 0 0 #8dbf67;
 	box-shadow: inset 0 1px 0 0 #8dbf67;
 	cursor: pointer; 
}

.green:active, .greenq:active {
 	border: 1px solid #5b992b;
 	border-bottom: 1px solid #538c27;
 	-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
 	-moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
 	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}

.greenq {
 	background-color: #7fbf4d;
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
 	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
 	background-image: linear-gradient(top, #7fbf4d, #63a62f);
 	border: 1px solid #63a62f;
 	border-bottom: 1px solid #5b992b;
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
 	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
 	box-shadow: inset 0 1px 0 0 #96ca6d;
 	color: #fff;
 	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
 	line-height: 1;
 	text-align: center;
 	width: 30px; 
 	height: 28px;
 	padding: 2px 6px 3px;
 	margin-top: 2px;
}

.greenq img {
	margin-top: 2px;
}

.question {
 	color: #56a015;
 	font-size: 14pt;
}

.answer {
 	color: #868686;
}

a {
 	color: #575757;
 	text-decoration: none;
}

a:hover {
 	color: #56a015;
}

#upload-trigger {
 	display: inline-block;
 	*display: inline;
 	*zoom: 1;
 	height: 25px;
 	line-height: 25px;
 	font-weight: bold;
 	padding: 0 8px;
 	text-decoration: none;
 	color: #444;
 	text-shadow: 0 1px 0 #fff;
}

#upload-content {
 	display: none;
 	position: absolute;
 	top: 60px;
 	left: 50%;
 	margin-left: -490px;
 	z-index: 999;
 	background: #fff;
 	padding: 15px;
 	border: 1px solid #cccccc;
 	width: 950px;
 	height: 75px;
 	box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
	border-radius: 2px;
}

.message {
 	-webkit-background-size: 40px 40px;
 	-moz-background-size: 40px 40px;
 	background-size: 40px 40px;
 	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
 	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	width: 100%;
 	border: 1px solid;
 	color: #fff;
 	padding: 15px;
 	position: fixed;
 	position: absolute;
 	text-shadow: 0 1px 0 rgba(0,0,0,.5);
 	-webkit-animation: animate-bg 5s linear infinite;
 	-moz-animation: animate-bg 5s linear infinite;
}

.error {
 	background-color: #de4343;
 	border-color: #c43d3d;
}

.success {
 	background-color: #61b832;
 	border-color: #55a12c;
}

.error_bg{
 	-webkit-background-size: 40px 40px;
 	-moz-background-size: 40px 40px;
 	background-size: 40px 40px;
 	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
 	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	width: 100%;
 	border: 1px solid;
 	padding: 15px;
 	position: fixed;
 	position: absolute;
 	background-color: #de4343;
 	border-color: #c43d3d;
}

.error_bg .message_area, .succ_bg .message_area {
 	color: #fff;
 	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.succ_bg{
 	-webkit-background-size: 40px 40px;
 	-moz-background-size: 40px 40px;
 	background-size: 40px 40px;
 	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
 	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	width: 100%;
 	border: 1px solid;
 	padding: 15px;
 	position: fixed;
 	position: absolute;
 	background-color: #61b832;
 	border-color: #55a12c;
}

#error {
 	-webkit-background-size: 40px 40px;
 	-moz-background-size: 40px 40px;
 	background-size: 40px 40px;
 	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
 	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	width: 948px;
 	border: 1px solid;
 	padding: 15px;
 	margin-bottom: 20px;
 	background-color: #de4343;
 	border-color: #c43d3d;
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 	color: #fff;
 	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

#error a, #success a {
 	color: #fff;
 	text-decoration: underline;
}

#error a:hover, #success a:hover {
 	color: #fff;
 	text-decoration: none;
}

#success {
 	-webkit-background-size: 40px 40px;
 	-moz-background-size: 40px 40px;
 	background-size: 40px 40px;
 	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
 	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
 	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
 	width: 948px;
 	border: 1px solid;
 	padding: 15px;
 	background-color: #61b832;
 	border-color: #55a12c;
 	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 3px;
 	color: #fff;
 	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

#db input[type=text], #db input[type=password], #newuser input[type=email], #upload-content input[type=text] {
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
 	border: 1px solid #ccc;
 	background-color: #fff;
 	padding: 2px;
}
#db input[type=text], #db input[type=password], #newuser input[type=email] {
	width: 160px;
}

#db textarea {
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
 	border: 1px solid #ccc;
 	background-color: #fff;
}

#newuser input[type=submit], #settings input[type=submit], #edituser_box input[type=submit] {
 	width: 100%;
}

.highlight {
	color: #56a015;
}

.box-title {
 	color: #56a015;
 	font-size: 13pt;
 	background: -webkit-linear-gradient(#ffffff 50%, #ededed 95%, #dedede 100%);
 	background: -moz-linear-gradient(#ffffff 50%, #ededed 95%, #dedede 100%);
 	background: -ms-linear-gradient(#ffffff 50%, #ededed 95%, #dedede 100%);
 	background: -o-linear-gradient(#ffffff 50%, #ededed 95%, #dedede 100%);
 	background: linear-gradient(#ffffff 50%, #ededed 95%, #dedede 100%);
 	padding: 7px;
 	-moz-border-radius: 3px 3px 0 0;
 	border-radius: 3px 3px 0 0;
 	-webkit-border-radius: 3px 3px 0 0;
}

.box-template {
	background: #fcfcfc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
	border: 1px solid #bfbfbf;
	display: block;
	float: left;
 	margin-bottom: 30px;
 	color: #454545;
}

.box-container {
	padding: 10px;
}

#newuser {
 	width: 220px;
 	min-height: 435px;
 	margin-right: 30px;
}

#userlist {
 	width: 474px;
 	margin-right: 30px;
 	height: 435px;
}

#userlist .box-container {
	overflow-y: scroll;
 	overflow-x: hidden;
 	height: 379px;
 	border-radius: 0 0 3px 3px;
 	-moz-border-radius: 0 0 3px 3px;
 	-o-border-radius: 0 0 3px 3px;
 	-webkit-border-radius: 0 0 3px 3px;
}

#userlist ul.title {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

#userlist ul.title li {
 	float: left;
 	background: #e3e3e3;
 	border: 1px solid #bbb;
 	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
 	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
 	box-shadow: inset 0 0 1px 1px #f6f6f6;
 	color: #333;
 	font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
 	line-height: 1;
 	padding: 8px 0 9px;
 	text-align: center;
 	text-shadow: 0 1px 0 #fff;
 	width: 150px;
}

#userlist ul.title li.id {
 	width: 50px;
 	-webkit-border-radius: 3px 0px 0px 3px;
 	-moz-border-radius: 3px 0px 0px 3px;
 	border-radius: 3px 0px 0px 3px;
}

#userlist ul.title li.username {
 	width: 249px;
}

#userlist ul.title li.status {
 	width: 100px;
}

#userlist ul.title li.delete {
 	width: 30px;
 	height: 12px;
 	-webkit-border-radius: 0px 3px 3px 0px;
 	-moz-border-radius: 0px 3px 3px 0px;
 	border-radius: 0px 3px 3px 0px;
}

#userlist ul.users {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

#userlist ul.users li {
 	float: left;
 	border-bottom: 1px solid #e2e2e2;
}

#userlist ul.users li.id {
 	width: 50px;
 	padding: 5px 0px 5px 0;
 	text-align: center;
}

#userlist ul.users li.username {
 	width: 247px;
 	padding: 5px 0px 5px 10px;
}

#userlist ul.users li.status {
 	width: 90px;
 	padding: 5px 0 5px 10px;
}

#userlist ul.users li.delete {
 	width: 20px;
 	padding: 5px 0 5px 6px;
}

#confirm {
 	margin-top: 353px;
 	margin-left: -10px;
 	position: absolute;
 	background-color: rgba(255,255,255,0.9);
 	height: 28px;
 	width: 454px;
 	padding: 6px 10px 0 10px;
 	border-top: 1px solid #56a015;
}

#settings {
 	width: 220px;
 	height: 435px;
}

#settings input[type=text] {
 	width: 40px;
}

#edituser_box {
 	width: 220px;
	margin-right: 30px;
	min-height: 270px;
}

#comment button{
	 margin-bottom: 30px;
	 margin-right: 20px;
}

.hidden {
	 background: none;
	 border: none;
	 padding: 0;
	 margin: 0;
	 cursor: pointer;
	 font-family: 'Lato', sans-serif;
	 font-size: 12pt;
	 color: #000;
}

.hidden:hover {
 	color: #56a015;
}

#fileextensions {
	 width: 220px;
	 margin-right: 30px;
	 height: 435px;
}

#fileextensions input[type=text] {
 	width: 50px;
}

#fileextensions ul {
	height: 235px;
	overflow-y: scroll;
	list-style-type: none;
	padding-left: 0;
	margin-top: -5px;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid #56a015;
}

#fileextensions ul li {
	border-bottom: 1px solid #56a015;
	height: 20px;
	padding: 5px 0 5px 10px;
	background: -webkit-linear-gradient(#ffffff 0%, #ededed 100%);
	background: -moz-linear-gradient(#ffffff 0%, #ededed 100%);
	background: -ms-linear-gradient(#ffffff 0%, #ededed 100%);
	background: -o-linear-gradient(#ffffff 0%, #ededed 100%);
	background: linear-gradient(#ffffff 0%, #ededed 100%);
}

.action_rename {
	 width: 11px;
	 height: 11px;
	 background: transparent url(img/rename.png) 0px 0px no-repeat;
	 border: none;
}

.action_rename:hover {
	 background: transparent url(img/rename.png) 0px -11px no-repeat;
	 cursor: pointer;
}

.action_delete {
	 width: 11px;
	 height: 12px;
	 background: transparent url(img/delete.png) 0px 0px no-repeat;
	 border: none;
}

.action_delete:hover {
	 background: transparent url(img/delete.png) 0px -12px no-repeat;
	 cursor: pointer;
}

.action_visible {
	 width: 15px;
	 height: 9px;
	 background: transparent url(img/visible.png) 0px 0px no-repeat;
	 border: none;
}

.action_visible:hover {
	 background: transparent url(img/visible.png) 0px -9px no-repeat;
	 cursor: pointer;
}

.action_zip {
	 width: 11px;
	 height: 11px;
	 background: transparent url(img/zip.png) 0px 0px no-repeat;
	 border: none;
	 margin-left: 5px;
}

.action_zip:hover {
 	background: transparent url(img/zip.png) 0px -11px no-repeat;
 	cursor: pointer;
}

.column1 {
	width: 33%;
}

.column2 {
	width: 33%;
	margin-left: 33%;
	position: absolute;
	margin-top: -61px;
}

.column3 {
	width: 33%;
	margin-left: 66%;
	position: absolute;
	margin-top: -61px;
}

.column3 input[type=submit] {
	margin-top: 9px;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 999;
}

.tooltip span {
  visibility: hidden;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 80px;
  margin-left: -50px;
  padding: 10px;
  opacity: .8;
  background-color: #000;  
  color: #fff;
  border-radius: 3px;
  font-size: 9pt;
  text-align: center;                    
}

.tooltip:hover {
  border: 0; /* IE6 fix */
}

.tooltip:hover span {
  visibility: visible;
}

.tooltip span:before, .tooltip span:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.invisible {
	opacity: 0.5;
}